<div data-sticky-container>
<div class="sticky" data-sticky data-margin-top="0" style="width:100%;" data-margin-bottom="0" data-top-anchor="main-content" data-btm-anchor="">
<nav class="top-bar">
	<div class="top-bar-left">
		<ul class="dropdown menu" data-dropdown-menu data-disable-hover="false">
			<li><a href="#" class="mdi mdi-menu" data-toggle="offCanvasLeft"></a></li>
			<li class="menu-text"><a href="/">peak nexus</a></li>
			<li>
				<a href="#">Open Source</a>
				<ul class="menu">
					<li>
						<a href="#">FreescaleJS</a>
						<ul class="menu">
							<li><a>Info</a></li>
							<li><a>Docs</a></li>
							<li><a>Try</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Foundangular</a>
						<ul class="menu">
							<li><a>Info</a></li>
							<li><a>Docs</a></li>
							<li><a>Try</a></li>
						</ul>
					</li>
					<li><a href="#">VDBMS (coming soon)</a></li>
				</ul>
			</li>
			<li>
				<a href="#">Enterprise</a>
				<ul class="menu">
					<li>
						<a href="#">Stairwell</a>
						<ul class="menu">
							<li><a>Info</a></li>
							<li><a>Docs</a></li>
							<li><a>Try</a></li>
							<li><a>Buy</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Memoria</a>
						<ul class="menu">
							<li><a>Info</a></li>
							<li><a>Docs</a></li>
							<li><a>Try</a></li>
							<li><a>Buy</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">Solutions</a>
				<ul class="menu">
					<li><a href="#">Development</a></li>
					<li><a href="#">Management</a></li>
					<li><a href="#">Teams</a></li>
				</ul>
			</li>
			<li>
				<a href="#">Services</a>
			</li>
			<li>
				<a href="#">Contact</a>
			</li>
		</ul>
	</div>

	<div class="top-bar-right">
		<!-- align-right puts items backwords!! -->
		<ul class="dropdown menu align-right" data-dropdown-menu>
			<li>
				<a href="#" class="mdi mdi-dots-vertical">
				</a>
				<ul class="menu">
					<li><a href="#">Account</a></li>
				</ul>
			</li>
			<li><a>Test</a>
			</li>
			<li><a href="#" class="mdi mdi-facebook"></a></li>
			<li><a href="#" class="mdi mdi-twitter"></a></li>

			<li>
				<form>
					<input type="text" placeholder="Search" name="search"/>
					<a href="#" class="mdi mdi-magnify"></i></a>
				</form>
			</li>
			
		</ul>
	</div>
</nav>
</div>
</div>